form {
    display: inherit;
}

#createShiftDiv {
    display: inline;
}

.inputRole {
    min-width: 220px;
}

#tableHeaderBlue {
    background-color: var(--main-divs-color);
}

.inputField {
    /* background-color: green;
    margin: 3px;
    padding: 3px; */
}