#weekDiv {
    display: flex;
    justify-content: space-between;
}

#weekDiv .weekday-div {
    background-color: var(--main-divs-color);
    width: 100%;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#weekDiv .dayName {
    font-weight: 500;
    font-size: 1.2em;
}

#weekDiv .shiftDiv {
    background-color: var(--unavailable-color);
    width: 100%;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
}

#weekDiv .shiftDivActive {
    background-color: var(--scheduled-color);
}

#staffMemberInfoPage button {
    margin-top: 5px;
}

#staffMemberInfoPage #uploadImg-div {
    margin: 5px 0px;
}

#staffTimeoff button {
    margin-top: 0px;
    margin-left: 5px;
}

#upcomingTimeOffDiv div {
    display: flex;
    margin: 2px;
}

#upcomingTimeOffDiv span {
    transition: transform ease .4s;
    transition: color ease .2s;
}

#upcomingTimeOffDiv span:hover {
    transform: translateY(-2px);
    color: rgb(0, 0, 0, .75);
    cursor: pointer;
}