.editStaffDiv {
    margin: 10px;
    display: flex;
    justify-content: space-around;
}

#saveStaffBtn {
    margin: 10px 0px;
}

#editStaffColumn2 {
    margin-left: 10px;
}

#staffPage #filterStaffDiv {
    margin-bottom: 5px;
}