#saveChgBtn {
    margin-top: 5px;
}

#mainSchedule h2 {
    margin-bottom: 0;
}

#mainWeekDiv,
#needsDiv {
    display: flex;
    justify-content: space-between;
}

#mainWeekDiv .weekday-div,
#needsDiv .weekday-div {
    background-color: var(--main-divs-color);
    width: 100%;
    margin: 2px;
    padding: 2px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainSchedule .dateSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50px;
}

#mainSchedule .dayName {
    font-weight: 500;
    font-size: 1.2em;
}

#mainSchedule .dayHeader {
    position: relative;
    width: 100%;
    text-align: center;
}

#mainSchedule .editNeeds {
    position: absolute;
    left: 2px;
    top: 2px;
}

#mainSchedule .editNeeds svg {
    font-size: 1.5em;
}

#mainSchedule .editNeeds svg:hover {
    color: rgb(29, 28, 28, .75);
    cursor: pointer;
}

#mainWeekDiv .shiftDiv {
    background-color: var(--main-divs-color);
    width: 100%;
    margin: 2px;
    padding: 2px;
    box-sizing: border-box;
    border-radius: 3px;
}

#mainWeekDiv .shiftDivActive {
    background-color: var(--undetermined-color);
}

#mainWeekDiv .personDayBlock {
    background-color: var(--header-color);
    height: 4rem;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

#needsDiv .shiftsDayBlock {
    background-color: var(--header-color);
    height: 25px;
    margin: 2px;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    width: 100%;
}

#needsDiv .scheduleShiftName,
#needsDiv .MuiBadge-root {
    width: 100%;
}

#mainWeekDiv .dailyScheduleContainer,
#needsDiv .dailyNeedsContainer {
    width: 100%;
    min-width: 110px;
}

.dailyScheduleContainer .dayPersonAvailableSlot {
    width: 100%;
    height: 100%;
}

.dailyScheduleContainer .dragOver {
    border: 1px solid black;
}

#mainWeekDiv .Unavailable {
    background-color: var(--unavailable-color);
}

#mainWeekDiv .Available {
    background-color: var(--undetermined-color);
}

#mainWeekDiv .Scheduled,
#mainWeekDiv .Multiple {
    background-color: var(--scheduled-color);
}

#mainWeekDiv .Timeoff {
    background-color: var(--unavailable-color);
}

#mainWeekDiv .MuiButton-root {
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    padding: inherit;
    height: 100%;
    width: 100%;
}

#mainWeekDiv,
.availableButtonDiv {
    height: 100%;
    width: 100%;
}

#scheduleDatePicker input {
    padding: 2px 0 1px;
}

#scheduleDatePicker .weekOfSpan {
    margin-right: 5px;
}

#scheduleDatePicker form {
    display: inline-block;
}

#scheduleDatePicker button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 2px 5px;
}

.scheduleH1 {
    margin-bottom: 0;
}

#scheduleDatePicker #filterStaffDiv {
    display: flex;
    justify-content: flex-end;
}